BasedOnStyle: Google
ColumnLimit: 80
IndentWidth: 2
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SortIncludes: Never
PointerAlignment: Left
ReferenceAlignment: Left
