BasedOnStyle: Google
ColumnLimit: 90
IndentWidth: 2
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SortIncludes: Never
PointerAlignment: Left
ReferenceAlignment: Left
